[
{kernel, [
    {error_logger, {file, "/app/tools_platform/priv/log/kernel.log"}}
]},
{sasl, [
    {sasl_error_logger, {file, "/app/tools_platform/priv/log/sasl.log" }},
    {errlog_type, error}
]},
{mnesia, [
    {dir, "/app/tools_platform/priv/data/mnesia"}
]}
].