body {
	padding: 0;
	margin: 3px;
	font-size: 12px;
}
.controller{	
	border: 1px solid #BBBBBB;
	background: none repeat scroll 0 0 #FAFAFA;
	box-shadow: 0 0 5px #BBBBBB inset;
	margin: 3px;
	padding: 3px;
	height: 85px;
	width: 300px;
	float: left;
}
.deviceName{
	margin-left: 18px;
}
.deviceId{
	margin-left: 31px;
}
.switch1{
	margin-left: 0;
}
