[
{sasl, [
    {sasl_error_logger, {file, "/app/tools_platform/priv/log/sasl.log" }},
    {errlog_type, error}
]},
{mnesia, [
    {dir, "/app/tools_platform/priv/data/mnesia"}
]},
{monitor, [	
    {run_interval, 10}, % in seconds
    {log_file_name, "/app/tools_platform/priv/log/monitor.csv"},
    {rrdtool_exe, "/dev/rrdtool144-bin/rrdtool.exe"},
    {rrd_file_name, "/app/tools_platform/priv/data/monitor.rrd"}
]},
{cleaner, [
    {run_interval, 60}, % in seconds
    {user_session_timeout, 57600}, % in seconds, = 16hr	
    {rrdtool_img_timeout, 60} % in seconds
]},
{tools_platform,[
    {yaws_embed_mode, true},
	{port, 8080},
	{local_ip, "192.168.1.11"},
  	{parent_dir, "/app/tools_platform"}
]}].