[{sasl, [
	{sasl_error_logger, {file, "/app/tools_platform/priv/logs/sasl.log" }},
	{errlog_type, error}
]},
{monitor, [	
    {run_interval, 10}, % in seconds
    {log_file_name, "/app/tools_platform/priv/logs/monitor.csv"},
    {rrdtool_exe, "/usr/bin/rrdtool"},
    {rrd_file_name, "/app/rrdtool/tools_platform/monitor.rrd"}
]},
{cleaner, [
    {run_interval, 60}, % in seconds
    {user_session_timeout, 57600}, % in seconds, = 16hr	
    {rrdtool_img_timeout, 60} % in seconds
]},
{tools_platform,[
	{port, 8888},
	{local_ip, "192.168.1.10"},
  	{parent_dir, "/app/tools_platform"}
]}].