[
{kernel, [
    {error_logger, {file, "/app/tools_platform/priv/log/kernel.log"}}
]},
{sasl, [
    {sasl_error_logger, {file, "/app/tools_platform/priv/log/sasl.log" }},
    {errlog_type, error}
]},
{mnesia, [
    {dir, "/app/tools_platform/priv/data/mnesia"}
]},
{cleaner, [
    {run_interval, 60}, % in seconds
    {user_session_timeout, 57600} % in seconds, = 16hr
]},
{db_backup, [
    {database_backup_dir, "/app/tools_platform/priv/data"},
    {database_backup_interval, 3600} % in seconds
]},
{iptracker, [
    {receiver_email, "gatement@139.com"},
    {ip_getting_url, "http://ddns.oray.com/checkip"},
    {run_interval, 300}, % in second
    {error_retry_interval, 300}, % in second

    {peanuthull_enabled, true},
    {peanuthull_service, "https://~s:~s@ddns.oray.com/ph/update"},
    {peanuthull_user_id, "user"},
    {peanuthull_user_password, "pwd"}
]},
{platform_core, [
    {debug_mode, true},
    
    {enable_cleaner, false},
    {enable_db_backup, false},
    {enable_iptracker, false}
]},
{interface_http,[   
    {port, 8080},

    {tool_gallery_original_dir, "/app/tools_platform/apps/interface_http/priv/upload/original"},
    {tool_gallery_thumbnail_dir, "/app/tools_platform/apps/interface_http/priv/upload/thumbnails"},

    {keyfile, ""}, % c:/dev/Yaws/ssl/yaws-key.pem
    {certfile, "c:/dev/Yaws/ssl/yaws-cert.pem"}, 

    {imagemagick_exe, "C:/dev/ImageMagick-6.8.5-Q16/convert.exe"}
]}].
