[
{kernel, [
    {error_logger, {file, "/app/deployment/tools_platform/priv/log/kernel.log"}}
]},
{sasl, [
    {sasl_error_logger, {file, "/app/deployment/tools_platform/priv/log/sasl.log" }},
    {errlog_type, error}
]},
{remote,[
    {mqtt_broker_host, "johnson.uicp.net"},
    {mqtt_broker_port, 10000},
    
    {client_id, "000000000004"},

    {keep_alive_timer, 60000}
]}].