[
{sasl, [
    {sasl_error_logger, {file, "/app/tools_platform/priv/log/sasl.log" }},
    {errlog_type, error}
]},
{mnesia, [
    {dir, "/app/tools_platform/priv/data/mnesia"}
]},
{monitor, [
    {log_file_name, "/app/tools_platform/priv/log/monitor.csv"},
    {rrdtool_exe, "C:/dev/rrdtool144-bin/rrdtool.exe"},
    {rrd_file_name, "/app/tools_platform/priv/data/monitor.rrd"}
]},
{cleaner, [
    {run_interval, 60}, % in seconds
    {user_session_timeout, 57600}, % in seconds, = 16hr
    {rrdtool_img_timeout, 60} % in seconds
]},
{db_backup, [
    {database_backup_dir, "/app/tools_platform/priv/data"},
    {database_backup_interval, 3600} % in seconds
]},
{platform_core, [
    {debug_mode, true},
    
    {enable_monitor, true},
    {enable_cleaner, true},
    {enable_db_backup, true},
    {enable_iptracker, false}
]},
{interface_tcp, [
    {heartbeat_checking_interval_device, 30000} % in milliseconds
]},
{interface_http,[   
    {port, 8080},

    {tool_gallery_original_dir, "/app/tools_platform/interface_http/priv/upload/original"},
    {tool_gallery_thumbnail_dir, "/app/tools_platform/interface_http/priv/upload/thumbnails"},

    {keyfile, ""}, % c:/dev/Yaws/ssl/yaws-key.pem
    {certfile, "c:/dev/Yaws/ssl/yaws-cert.pem"}, 

    {imagemagick_exe, "C:/dev/ImageMagick-6.8.5-Q16/convert.exe"}
]}].