body {
	padding: 0;
	margin: 3px;
	font-size: 12px;
}
#infiniteLoading {
    background: url("../images/infiniteLoading.gif") no-repeat scroll center top transparent;
    display: block;
    height: 20px;
    margin: 0 auto;
    width: 160px;
}

/*== uploadItem ==========================================*/
.uploadItem{
	border: 1px solid #BBBBBB;
	background: none repeat scroll 0 0 #F0F0F0;
	box-shadow: 0 0 5px #BBBBBB inset;
	margin-top: 3px;
	height: 23px;
}
.uploadItemProgress{
	background-color: #0099FF;
	box-shadow: 0 0 1px #FFFFFF inset;
	width: 0%;
	height: 23px;
}
.uploadComplete{
	background-color: #0FB93B;
	width: 100%;
}
.uploadError{
	background-color: #FF50CC;
	width: 100%;
}
.uploadItemText{
	color: #FFFFFF;
	margin-top: -23px;
	font-size: 12px;
	padding-top: 4px;
}
.uploadItemName{
	color: #555;	
}

/*== gallery content types ==========================================*/
#galleryContainer .ui-selecting img { 
	border: 1px dashed #FECA40;
}
#galleryContainer .ui-selected img { 
	border: 1px dashed #F39814;
}
#galleryContainer img {
    background: url("../images/lazyLoading.gif") no-repeat scroll center center transparent;
    cursor: pointer;
}
.galleryItem{
	float: left;
}
.album{
	text-align: center;
	margin-bottom: 10px;
	margin-right: 4px;
}
.image{
	margin-right: 1px;
	margin-bottom: -3px;
}
.video{
	margin-right: 1px;
	margin-bottom: -3px;
}
.album img{
	border: 1px solid #C9ECF8;
}
.image img{
	border: 1px solid #FFFFFF;
}
.video img{
	border: 1px solid #FFFFFF;
}


/*== toolsbar =======================================================*/
.toolsbar {
	display:inline-block;
	width:100%;
	padding: 0;
	margin: 0;
}
#hr{
	padding: 0;
	margin-top: 5px;
}
#errormsg{
	float:right;
    margin: 0 auto;
}

/*== toolsbar buttons =================================================*/
.bar_button{
	float:left;
	width:16px;
	height:16px;
	margin-top:2px;
	margin-left:2px;
    border: 1px solid #DDDDDD;
    background: url("../images/icons_gallery.png") no-repeat scroll 0 0 transparent;
    background-position: -32px -16px;
    cursor: pointer;
}
.bar_select{
	float:left;
	height:16px;
	margin-left:2px;
    cursor: pointer;
}
#addAlbum{
	background-position: 0 0;
}
#addAlbum:hover{
	background-position: 0 -16px;
}
#logout{
	background-position: -48px 0;
}
#logout:hover{
	background-position: -48px -16px;
}
#homepage{
	background-position: -112px 0;
}
#homepage:hover{
	background-position: -112px -16px;
}
#about{
	background-position: -80px 0;
}
#about:hover{
	background-position: -80px -16px;
}
#shareMgmt{
	background-position: -32px 0;
}
#shareMgmt:hover{
	background-position: -32px -16px;
}
#refresh{
	background-position: -128px 0;
}
#refresh:hover{
	background-position: -128px -16px;
}
#upload{
	background-position: -96px 0;
}
#upload:hover{
	background-position: -96px -16px;
}
#back{
	background-position: -160px 0;
}
#back:hover{
	background-position: -160px -16px;
}
#selectable{
	background-position: -144px 0;
}
#selectable:hover{
	background-position: -144px -16px;
}
#unselectable{
	background-position: -208px 0;
}
#unselectable:hover{
	background-position: -208px -16px;
}
#zoomin{
	background-position: -176px 0;
}
#zoomin:hover{
	background-position: -176px -16px;
}
#zoomout{
	background-position: -192px 0;
}
#zoomout:hover{
	background-position: -192px -16px;
}
#delete{
	background-position: -64px 0;
}
#delete:hover{
	background-position: -64px -16px;
}
#rename{
	background-position: -224px 0;
}
#rename:hover{
	background-position: -224px -16px;
}
#setAsCover{
	background-position: -256px 0;
}
#setAsCover:hover{
	background-position: -256px -16px;
}
#move{
	background-position: -240px 0;
}
#move:hover{
	background-position: -240px -16px;
}


/*== Dialog =================================================*/
.ui-dialog-title{
	font-size: 12px;
}
.ui-dialog{
	z-index: 20000;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
	font-size: 12px;
}


/*== shareMgmtDialog =================================================*/
#shareMgmtDialog{
}
#shareMgmtAddContainer{
	padding-top: 5px;
	padding-bottom: 5px;
}
.shareMgmtListItem{
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #EEEEEE;
}
.shareMgmtButton{
	border: 1px solid #DDDDDD;
	height: 23px;
    width: 50px;
    cursor: pointer;
}
.shareMgmtTextbox{
    border: 1px solid #DDDDDD;
    height: 20px;
    width: 248px;
}