body {
	padding: 0;
	margin: 3px;
}
#galleryContainer img {
	margin-right: 4px;
	margin-bottom: 1px;
    background: url("../images/lazyLoading.gif") no-repeat scroll center center transparent;
    cursor: pointer;
}
#infiniteLoading {
    background: url("../images/infiniteLoading.gif") no-repeat scroll center top transparent;
    display: block;
    height: 20px;
    margin: 0 auto;
    width: 160px;
}

/*== uploadItem ==========================================*/
.uploadItem{
	border: 1px solid #BBBBBB;
	background: none repeat scroll 0 0 #F0F0F0;
	box-shadow: 0 0 5px #BBBBBB inset;
	margin-top: 3px;
	height: 23px;
}
.uploadItemProgress{
	background-color: #0099FF;
	box-shadow: 0 0 1px #FFFFFF inset;
	width: 0%;
	height: 23px;
}
.uploadComplete{
	background-color: #0FB93B;
	width: 100%;
}
.uploadError{
	background-color: #FF50CC;
	width: 100%;
}
.uploadItemText{
	color: #FFFFFF;
	margin-top: -23px;
}
.uploadItemName{
	color: #AAA;	
}

/*== gallery content types ==========================================*/
.album{	
	border: 1px solid #C9ECF8;
}

/*== toolsbar =======================================================*/
.toolsbar {
	display:inline-block;
	width:100%;
	padding: 0;
	margin: 0;
}
#hr{
	padding: 0;
	margin-top: 5px;
}
#errormsg{
	float:right;
    margin: 0 auto;
}

/*== toolsbar buttons =================================================*/
.bar_button{
	float:left;
	width:16px;
	height:16px;
	margin-top:2px;
	margin-left:2px;
    border: 1px solid #DDDDDD;
    background: url("../images/icons_gallery.png") no-repeat scroll 0 0 transparent;
    background-position: -32px -16px;
    cursor: pointer;
}
.bar_select{
	float:left;
	height:16px;
	margin-left:2px;
    cursor: pointer;
}
#addAlbun{
	background-position: 0 0;
}
#addAlbun:hover{
	background-position: 0 -16px;
}
#tile_notes{
	background-position: -16px 0;
}
#tile_notes:hover{
	background-position: -16px -16px;
}
#list_notes{
	background-position: -176px 0;
}
#list_notes:hover{
	background-position: -176px -16px;
}
#list_left{
	background-position: -192px 0;
}
#list_left:hover{
	background-position: -192px -16px;
}
#list_right{
	background-position: -208px 0;
}
#list_right:hover{
	background-position: -208px -16px;
}
#list_bottom{
	background-position: -224px 0;
}
#list_bottom:hover{
	background-position: -224px -16px;
}
#list_top{
	background-position: -240px 0;
}
#list_top:hover{
	background-position: -240px -16px;
}
#logout{
	background-position: -48px 0;
}
#logout:hover{
	background-position: -48px -16px;
}
#homepage{
	background-position: -112px 0;
}
#homepage:hover{
	background-position: -112px -16px;
}
#about{
	background-position: -80px 0;
}
#about:hover{
	background-position: -80px -16px;
}
#categoryMgmt{
	background-position: -96px 0;
}
#categoryMgmt:hover{
	background-position: -96px -16px;
}
#shareMgmt{
	background-position: -32px 0;
}
#shareMgmt:hover{
	background-position: -32px -16px;
}
#refresh{
	background-position: -128px 0;
}
#refresh:hover{
	background-position: -128px -16px;
}
#upload{
	background-position: -96px 0;
}
#upload:hover{
	background-position: -96px -16px;
}
#back{
	background-position: -160px 0;
}
#back:hover{
	background-position: -160px -16px;
}
#selector{
	background-position: -144px 0;
}
#selector:hover{
	background-position: -144px -16px;
}
#zoomin{
	background-position: -176px 0;
}
#zoomin:hover{
	background-position: -176px -16px;
}
#zoomout{
	background-position: -192px 0;
}
#zoomout:hover{
	background-position: -192px -16px;
}

