body {
	padding: 0;
	margin: 3px;
}
#hr{
	padding: 0;
	margin-top: 5px;
}
#ui-datepicker-div
{
	font-size: 12px;
}
.inputTextBox
{
	height: 20px;
	padding: 2px;
}
#fromDateTimeField
{
	width: 110px;
}
#toDateTimeField
{
	width: 110px;
}
#showBtn
{
	height: 26px;
}
.lastUpdateContainer
{
	margin-top: 30px;
	font-size: small;
}
.chartTitle
{
	font-size: small;
	margin-bottom: 30px;
}
#memoryContainer, #cpuContainer
{
	margin-top: 10px;
	min-height:160px;
}
