<!DOCTYPE html>
	<html>
		<head>
			<title>MQTT Subscriptions - Admin - Tools</title>
			<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
			<link type="text/css" rel="stylesheet" href="/css/admin/mqtt_subscription.css" />
			<script type="text/javascript" src="/js/lib/jquery-1.10.0.min.js"></script>
			<script type="text/javascript" src="/js/lib/jquery.tmpl.min.js"></script>
			<script type="text/javascript" src="/js/admin/mqtt_subscription.js"></script>
		</head>
		<body>
			<h3>MQTT Subscriptions</h3><a href="/">Home</a>
			<hr/>
			<div id="content">
				<table border="0">
			        <thead id="tableTitle">
			            <tr>
			                <td class="clientId">Client Id</td>
			                <td class="topic">Topic</td>
			                <td class="qos">QoS</td>
							<td class="ttl">TTL</td>
			                <td class="desc">Desc</td>
			                <td class="enabled">Enabled</td>
			                <td class="action">Action</td>
			            </tr>
			        </thead>
		            <tr>
		                <td><input type="text" id="clientIdSearchInput" class="textbox" placeholder="input to search client" /></td>
		                <td><input type="text" id="topicSearchInput" class="textbox" placeholder="input to search topic" /></td>
		                <td><input type="text" id="qosSearchInput" class="textbox" placeholder="qos" /></td>
		                <td><input type="text" id="ttlSearchInput" class="textbox" placeholder="input to search TTL" /></td>
		                <td><input type="text" id="descSearchInput" class="textbox" placeholder="input to search desc" /></td>
		                <td><label><input type="checkbox" id="enabledSearchInput" value="true" />enabled<label></td>
		                <td><input id="clearSerachBtn" type="button" value="clear" /></td>
		            </tr>
			        <tbody id="subscriptions"></tbody>			        
		            <tr>
		                <td><input type="text" id="clientIdAddInput" class="textbox" placeholder="client id" /></td>
		                <td><input type="text" id="topicAddInput" class="textbox" placeholder="topic(#=all)" /></td>
						<td>
							<select id="qosAddInput">
								<option value="0" selected="selected">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
							</select>
						</td>
		                <td><input type="text" id="ttlAddInput" class="textbox" placeholder="TTL(in days)" /></td>
		                <td><input type="text" id="descAddInput" class="textbox" placeholder="desc" /></td>
						<td><label><input type="checkbox" id="enabledAddInput" value="true" />enabled<label></td>
		                <td><input id="addBtn" type="button" value="add" /></td>
		            </tr>
			    </table>
			</div>

		
			<script id="subscriptionTemplate" type="text/x-jquery-tmpl">
				<tr class="subscription">
					<td><input type="hidden" class="id" value="${id}"/><input type="text" class="clientId textbox" value="${client_id}" /></td>
					<td><input type="text" class="topic textbox" value="${topic}" /></td>
					<td>
	                	<select class="qos">
				        {{if qos == '0'}}
				        	<option value="0" selected="selected">0</option>
				        {{else}}
				        	<option value="0">0</option>
				        {{/if}}
				        {{if qos == '1'}}
				        	<option value="1" selected="selected">1</option>
				        {{else}}
				        	<option value="1">1</option>
				        {{/if}}	
				        {{if qos == '2'}}
				        	<option value="2" selected="selected">2</option>
				        {{else}}
				        	<option value="2">2</option>
				        {{/if}}	
	                	</select></td>
					<td><input type="text" class="ttl textbox" value="${ttl}" /></td>
					<td><input type="text" class="desc textbox" value="${desc}" /></td>
					<td><label>
						{{if enabled == true}}
						<input type="checkbox" class="enabled" value="true" checked="checked" />
						{{else}}
						<input type="checkbox" class="enabled" value="true" />
						{{/if}}
						enabled<label></td>
					<td><input class="saveBtn" type="button" value="save" /><input class="deleteBtn" type="button" value="delete" /><input class="checkClientBtn" type="button" value="check client" /></td>
				</tr>
			</script>
		</body>
	</html>
